<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="list restaurants terpopuler">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Bresto" />
    <title>Bresto</title>
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
    <link rel="preload" crossorigin="anonymous" href="https://fonts.googleapis.com/css2?family=Grandstander:wght@200;300;400;500;600;700&display=swap" as="style" rel='stylesheet'/>
    <link rel="apple-touch-icon" sizes="192x192" href="/images/ios/icon_192x192.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/ios/icon_180x180.png">
    <link rel="apple-touch-icon" sizes="512x512" href="/images/ios/icon_512x512.png">
    <script src="https://kit.fontawesome.com/54d44760a9.js" crossorigin="anonymous"></script>
</head>

<body>
    <a href="#main-content" class="skip">menuju konten</a>

    <header>
        <app-bar></app-bar>
    </header>

    <my-hero></my-hero>

    <main class="row" id="main-content"></main>

    <my-footer></my-footer>

    <!-- scrool to top -->
    <button type="button" class="scrollToTop" aria-label="klik untuk ke atas">
        <i class=" fa fa-chevron-up " aria-hidden="true "></i>
    </button>
</body>
</html>
